{
    auto_https off
}

http://home.home.arpa {
    reverse_proxy homepage:3000
}

http://files.home.arpa {
    reverse_proxy filebrowser:80
}

http://status.home.arpa {
    reverse_proxy uptime-kuma:3001
}
